h1{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 2;
}

p{
    text-align: center;
}

img{
    max-width:200px;
    max-height: 200px;
    
}

.Energidryck{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.Kaffe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.koffeinpiller{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.PWO{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}