h1{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 2;
}

p{
    text-align: center;
}

img{
    max-width:200px;
    max-height: 200px;
    
}

