h1{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 2;
}

p{
    text-align: center;
}

img{
    max-width:200px;
    max-height: 200px;
    
}

.Energidryck{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.Kaffe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.koffeinpiller{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.PWO{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .show {display:block;}

  footer{
    text-align: center;
    margin-top: 50px;
  }



  .adropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.adropbtn:hover, .adropbtn:focus {
    background-color: #2980B9;
  }

  .adropdown {
    position: relative;
    display: inline-block;
  }

  .adropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .adropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .adropdown-content a:hover {background-color: #ddd;}

  .show {display:block;}


.produkter{
    border: 2px solid black;
    text-align: center;
}
